# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
!skeleton_lv_event_lv.dll
!skeleton_lv_event_lvrt.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/

# Folder
Build
